body {
  padding: 0 18px;
  margin: 0 auto;
  /* background-image: url(../public/background_img-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  position: relative; */
  background-color: #c7cafa;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
p,
a {
  padding: 0;
  margin: 0;
}

.back-video{
  z-index: -1;
  position: absolute;
  width: 100%;
  top: -50%;
  height: 300px;
  overflow: hidden;
  /* position: relative; */
 /* position: absolute;
 top: 0;
 left: 50%;
transform: translate(-50%, -20%); 
 
  object-fit: cover; */
}










